<section>
    <div class="banner-innerpage" style="background-image: url(https://images.pexels.com/photos/1253522/pexels-photo-1253522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
      <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
          <!-- Column -->
          <div class="col-md-8 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
            <div id="banner_wrapper" class="p-4">
            <h1 class="title">Up to 50% Off</h1>
            <h6 class="subtitle op-8">
              Grab your favourite titles without the high cost!!
            </h6>
          </div>
          </div>
          <!-- Column -->
        </div>
      </div>
    </div>
  </section>